
<!doctype html>
<html>

<head>
	<title>Line Chart</title>
	<script src="./static/Chart.js/Chart.js"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
    <h1>SHOW OFF MY STATS</h1>
	<div style="width:75%;">
		<canvas id="myChart"></canvas>
	</div>
	<script>
	var config =  {
		type: 'line',
	    data: {
            labels: {{.Labels}},
            datasets: {{.Datasets}}
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	}

	var ctx = document.getElementById('myChart');
	var myChart = new Chart(ctx, config);
	</script>
</body>

</html>
